form(action="/createUser" method="POST")
    div 
        label(for='userName') userName: 
        input(id="name", name='userName',placeholder="userName")
    div
        label(for='email') email: 
        input(id="email", name='email',placeholder="email")
    div
        label(for='age') age: 
        input(id="age", name='age',placeholder="age", type='number')
    button click to give me your information