ul {
    background-color: rgb(247, 210, 210);
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
}

li {
    list-style: none;
}

div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}